:root {
    /* Paleta de Colores */
    --color-primary: #fa060c;
    --color-secondary: #fb027d;
    --color-tertiary: #ff7000;
    --color-fourth: #4e02fb;
    --color-white:  #ffffff;
    --color-pink:#ff00ff;
    
}

[data-theme="dark"] {
    --color-bg-body: #212529;
    /* Redefinir colores para modo oscuro */
}