/* --- Peso 200: ExtraLight --- */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

/* --- Peso 400: Regular --- */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* --- Peso 700: Bold --- */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* --- Peso 800: ExtraBold --- */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

/* --- Peso 900: Black --- */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* Definimos variables para que sea fácil cambiar la fuente en el futuro */
:root {
    --font-main: "Poppins", sans-serif, Tahoma, sans-serif;
}

/* Aplicamos la fuente a toda la aplicación */
html, body {
    font-family: var(--font-main) !important;
    -webkit-font-smoothing: antialiased; /* Mejora la legibilidad en navegadores basados en Chrome */
    -moz-osx-font-smoothing: grayscale;
}

/* Aseguramos que los inputs y botones también la hereden (no lo hacen por defecto) */
input, button, textarea, select {
    font-family: var(--font-main);
}