{% extends "layouts/base.html" %}

{% block content %}
<h1>Panel de Administración</h1>
<hr>

<div style="margin-bottom: 20px;">
    <a href="{% url 'registrar_usuario' %}">
        <h3>Registrar usuario</h3>
    </a>
</div>

<div style="margin-bottom: 20px;">
    <a href="{% url 'lista_profesores' %}">
        <h3>Asignar carreras, materias y eliminar profesores</h3>
    </a>
</div>

<div style="margin-bottom: 20px;">
    <a href="{% url 'registrar_carrera_materia' %}">
        <h3>Registrar carreras y materias</h3>
    </a>
</div>

<div style="margin-bottom: 20px;">
    <a href="#">
        <h3>Eliminar cursos (Próximamente)</h3>
    </a>
</div>

{% endblock %}