{% extends "layouts/base.html" %}

{% block content %}

{% if messages %}
<div class="messages-container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
        <button class="close-alert" onclick="this.parentElement.style.display='none'">&times;</button>
    </div>
    {% endfor %}
</div>
{% endif %}
<h1>Panel de Administración</h1>
<hr>

<div style="margin-bottom: 20px;">
    <a href="{% url 'registrar_usuario' %}">
        <h3>Registrar usuario</h3>
    </a>
</div>

<div style="margin-bottom: 20px;">
    <a href="{% url 'lista_profesores' %}">
        <h3>Asignar carreras, materias y eliminar profesores</h3>
    </a>
</div>

<div style="margin-bottom: 20px;">
    <a href="{% url 'registrar_carrera_materia' %}">
        <h3>Registrar carreras y materias</h3>
    </a>
</div>

<div style="margin-bottom: 20px;">
    <a href="#">
        <h3>Eliminar cursos (Próximamente)</h3>
    </a>
</div>

{% endblock %}