{% extends "layouts/base.html" %} {% load static %} {% block content %}
<a href="{{ url_retorno }}" class="btn btn-secondary">
   Volver
</a>
<div class="container video-detalle">
  <header class="video-header">
    <h2>{{ video.titulo|upper }}</h2>
    <div class="meta-info">
      <span class="profesor-tag">
        <strong>Profesor:</strong>
        {{ video.tema.curso.profesor.usuario.get_full_name }}
      </span>
    </div>
  </header>
  <div class="row">
    <div class="col-md-4">
      <h3>Descripción del vídeo:</h3>
      <p class="text-muted">{{ video.resumen }}</p>
    </div>
    <div>
      <h3>Duración: {{ video.duracion }}</h3>
    </div>
    <form method="post">
      {% csrf_token %}
      {{ update_video_form.as_p }}
      <button type="submit" name="action" value="update_video_form">Modificar</button>
    </form>
  </div>
  <div class="video-player-container row">
    <div class="col-md-8">
      <div class="video-player">
        <video width="100%" height="auto" controls preload="metadata">
          <source src="{% url "consumir-media-files" "video" video.id %}?format=mp4" type="video/mp4" />
          <source src="{% url "consumir-media-files" "video" video.id %}?format=webm" type="video/webm" />
          <source src="{% url "consumir-media-files" "video" video.id %}?format=quicktime" type="video/quicktime" />
          <source src="{% url "consumir-media-files" "video" video.id %}?format=x-msvideo" type="video/x-msvideo" />
          Tu navegador no soporta este formato de vídeo
        </video>
      </div>
    </div>
  </div>
</div>

{%endblock %}
