{% extends 'layouts/base.html' %} 
{% load static %} 
{% block extra_css %}
  {% if es_profesor %}
    <link rel="stylesheet" href="{% static 'detalles/css/confirmDelete.css' %}">
  {% endif %}
{% endblock %}

{% block content %}
<a href="{{ url_retorno }}" class="btn btn-secondary">
   Volver
</a>
<div class="container curso-detalle">
    <header class="curso-header">
        <h2>{{ curso.materia.nombre|upper }}</h2>
        <div class="meta-info">
            <span class="profesor-tag">
                <strong>Profesor:</strong> {{ curso.profesor.usuario.get_full_name }}
            </span>
        </div>
    </header>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="card-img">
                {% if curso.imagen %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <img src="{% url "consumir-media-files" "img_curso" curso.id %}" alt="Imagen del curso" loading="lazy"> 
                {% else %}
                    <img src="{% static 'img/default-curso.png' %}" alt="Sin imagen" class="img-fluid rounded">
                {% endif %}
                {% if es_profesor %}
                <div>
                  <form method="post" enctype="multipart/form-data">
                    
                    {% csrf_token %}
                    
                    {{ update_course_image_form.as_p }} 
                    <button type="submit" name="action" value="update_course_image_form">Cargar</button>
                  </form>
                  <form method="post">
                    {% csrf_token %}
                    {{ update_course_form.as_p }}
                    <button type="submit" name="action" value="update_course_form">Cargar</button>
                  </form>
                  <form method="post", enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ create_theme_form.as_p }}
                    <button type="submit" name="action" value="create_theme_form">Cargar</button>
                  </form>

                {% endif %}
            </div>
        </div>

        <div class="col-md-8">
            <h3>Descripción del curso</h3>
            <p class="text-muted">{{ curso.descripcion|linebreaks }}</p>
            <p class="text-muted">Cantidad de vídeos:{{ cantidad_videos }}</p>
            <p class=text-muted>Semestre: {{ curso.materia.semestre }}</p>
        </div>
        {% if es_profesor %}
        <div class="col-md-8">
          <h3>{{ cantidad_estudiantes }} estudiantes inscritos.</h3>
        </div>
        {% endif %}
    </div>

    <br>

    <section class="curso-contenido">
        <h3>Contenido Programático</h3>
        
        {% if tiene_acceso %}
            <div class="list-group">
                {% for tema in temas %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                           <a href="{% url "detalles-temas" tema.id %}">
                              <h5 class="mb-1">{{ forloop.counter }}. {{ tema.titulo }}</h5>
                              <small class="text-secondary">{{ tema.fecha_creacion|date:"d M Y" }}</small>
                           </a>
                        </div>
                        {% if es_profesor %}
                          <button type="button" class="btn-eliminar" onclick="abrirModalEliminar('{% url 'eliminar-tema' tema.pk %}', '{{ tema.titulo|escapejs }}')">Eliminar</button>
                        {% endif %}
                  </div>
                {% empty %}
                    <p class="alert alert-info">Aún no se han cargado temas para este curso.</p>
                {% endfor %}

            {% else %}
        {# Llamada al macro donde se encapsula lógica del manejo de accesos #}
        {% include "partials/_card-acceso.html" with estado=estado_acceso curso_id=curso.id%} 
        {% endif %}

        {% if es_profesor %} 
        <dialog class="modalConfirm" id="modalConfirm">
                  <div class="modal-content">
                    <h3>¿Desea eliminar este tema?</h3>
                    <p>Está a punto de borrar: <strong id="modalTitulo">...</strong></p>
                    <p class="advertencia">Esta acción es irreversible</p>
                    <div class="modal-acciones">
                      <button class="btn-cancelar" onclick="document.getElementById('modalConfirm').close()">Cancelar</button>
                      <form method="post" action="" id="EliminarForm">
                        {% csrf_token %}
                        <button type="submit" class="btn-confirmar">Sí, deseo eliminar</button>
                      </form>
                    </div>
                  </div>
                </dialog>
                <script src="{% static 'detalles/js/confirmDelete.js' %}" defer></script>
          {% endif %}
      </div>
    </section>
</div>
{% endblock content %}
